{
  "AccessControl": {
    "title": "Access Control",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "AccessControlLevel": {
        "title": "Access Control Level",
        "type": "uint16",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "PasswordSetting": {
        "title": "Password Setting",
        "type": "tlv8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    }
  },
  "AccessoryMetrics": {
    "title": "Accessory Metrics",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Active": {
        "title": "Active",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {}
  },
  "AccessoryRuntimeInformation": {
    "title": "Accessory Runtime Information",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Ping": {
        "title": "Ping",
        "type": "data",
        "perms": {
          "pr": true
        }
      }
    },
    "propsExp": {
      "ActivityInterval": {
        "title": "Activity Interval",
        "type": "uint32",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "HeartBeat": {
        "title": "Heart Beat",
        "type": "uint32",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "SleepInterval": {
        "title": "Sleep Interval",
        "type": "uint32",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "AirQualitySensor": {
    "title": "Air Quality Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "AirQuality": {
        "title": "Air Quality",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "NitrogenDioxideDensity": {
        "title": "Nitrogen Dioxide Density",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "OzoneDensity": {
        "title": "Ozone Density",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "PM10Density": {
        "title": "PM10 Density",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "PM2_5Density": {
        "title": "PM2.5 Density",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "SulphurDioxideDensity": {
        "title": "Sulphur Dioxide Density",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "VOCDensity": {
        "title": "VOC Density",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "BatteryService": {
    "title": "Battery Service",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "BatteryLevel": {
        "title": "Battery Level",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "ChargingState": {
        "title": "Charging State",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      }
    }
  },
  "Battery": {
    "title": "Battery",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "BatteryLevel": {
        "title": "Battery Level",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "ChargingState": {
        "title": "Charging State",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      }
    }
  },
  "CameraControl": {
    "title": "Camera Control",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "On": {
        "title": "On",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "CurrentHorizontalTiltAngle": {
        "title": "Current Horizontal Tilt Angle",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "CurrentVerticalTiltAngle": {
        "title": "Current Vertical Tilt Angle",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "TargetHorizontalTiltAngle": {
        "title": "Target Horizontal Tilt Angle",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "TargetVerticalTiltAngle": {
        "title": "Target Vertical Tilt Angle",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "NightVision": {
        "title": "Night Vision",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true,
          "tw": true
        }
      },
      "OpticalZoom": {
        "title": "Optical Zoom",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "DigitalZoom": {
        "title": "Digital Zoom",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "ImageRotation": {
        "title": "Image Rotation",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "ImageMirroring": {
        "title": "Image Mirroring",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      }
    }
  },
  "CarbonDioxideSensor": {
    "title": "Carbon Dioxide Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "CarbonDioxideDetected": {
        "title": "Carbon Dioxide Detected",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "CarbonDioxideLevel": {
        "title": "Carbon Dioxide Level",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "CarbonDioxidePeakLevel": {
        "title": "Carbon Dioxide Peak Level",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "CarbonMonoxideSensor": {
    "title": "Carbon Monoxide Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "CarbonMonoxideDetected": {
        "title": "Carbon Monoxide Detected",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "CarbonMonoxideLevel": {
        "title": "Carbon Monoxide Level",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "CarbonMonoxidePeakLevel": {
        "title": "Carbon Monoxide Peak Level",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "ContactSensor": {
    "title": "Contact Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "ContactSensorState": {
        "title": "Contact Sensor State",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "Diagnostics": {
    "title": "Diagnostics",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "SupportedDiagnosticsSnapshot": {
        "title": "Supported Diagnostics Snapshot",
        "type": "tlv8",
        "perms": {
          "pr": true
        }
      }
    },
    "propsExp": {
      "SelectedDiagnosticsModes": {
        "title": "Selected Diagnostics Modes",
        "type": "uint32",
        "perms": {
          "pr": true,
          "pw": true
        }
      },
      "SupportedDiagnosticsModes": {
        "title": "Supported Diagnostics Modes",
        "type": "uint32",
        "perms": {
          "pr": true
        }
      }
    }
  },
  "Doorbell": {
    "title": "Doorbell",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "ProgrammableSwitchEvent": {
        "title": "Programmable Switch Event",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Brightness": {
        "title": "Brightness",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "Mute": {
        "title": "Mute",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "OperatingStateResponse": {
        "title": "Operating State Response",
        "type": "tlv8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "Volume": {
        "title": "Volume",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    }
  },
  "Fan": {
    "title": "Fan",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "On": {
        "title": "On",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "RotationDirection": {
        "title": "Rotation Direction",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "RotationSpeed": {
        "title": "Rotation Speed",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    }
  },
  "Fanv2": {
    "title": "Fanv2",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Active": {
        "title": "Active",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "CurrentFanState": {
        "title": "Current Fan State",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "TargetFanState": {
        "title": "Target Fan State",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "LockPhysicalControls": {
        "title": "Lock Physical Controls",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "RotationDirection": {
        "title": "Rotation Direction",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "RotationSpeed": {
        "title": "Rotation Speed",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "SwingMode": {
        "title": "Swing Mode",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    }
  },
  "Faucet": {
    "title": "Faucet",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Active": {
        "title": "Active",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "FilterMaintenance": {
    "title": "Filter Maintenance",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "FilterChangeIndication": {
        "title": "Filter Change Indication",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "FilterLifeLevel": {
        "title": "Filter Life Level",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "ResetFilterIndication": {
        "title": "Reset Filter Indication",
        "type": "uint8",
        "perms": {
          "pw": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      }
    }
  },
  "HumiditySensor": {
    "title": "Humidity Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "CurrentRelativeHumidity": {
        "title": "Current Relative Humidity",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "LeakSensor": {
    "title": "Leak Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "LeakDetected": {
        "title": "Leak Detected",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "Lightbulb": {
    "title": "Lightbulb",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "On": {
        "title": "On",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "Brightness": {
        "title": "Brightness",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "CharacteristicValueActiveTransitionCount": {
        "title": "Characteristic Value Active Transition Count",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "CharacteristicValueTransitionControl": {
        "title": "Characteristic Value Transition Control",
        "type": "tlv8",
        "perms": {
          "pr": true,
          "pw": true,
          "wr": true
        }
      },
      "ColorTemperature": {
        "title": "Color Temperature",
        "type": "int",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "Hue": {
        "title": "Hue",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Saturation": {
        "title": "Saturation",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "SupportedCharacteristicValueTransitionConfiguration": {
        "title": "Supported Characteristic Value Transition Configuration",
        "type": "tlv8",
        "perms": {
          "pr": true
        }
      }
    }
  },
  "LightSensor": {
    "title": "Light Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "CurrentAmbientLightLevel": {
        "title": "Current Ambient Light Level",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "Microphone": {
    "title": "Microphone",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Mute": {
        "title": "Mute",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "Volume": {
        "title": "Volume",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    }
  },
  "MotionSensor": {
    "title": "Motion Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "MotionDetected": {
        "title": "Motion Detected",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "OccupancySensor": {
    "title": "Occupancy Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "OccupancyDetected": {
        "title": "Occupancy Detected",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "Outlet": {
    "title": "Outlet",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "On": {
        "title": "On",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "OutletInUse": {
        "title": "Outlet In Use",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "PowerManagement": {
    "title": "Power Management",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "WakeConfiguration": {
        "title": "Wake Configuration",
        "type": "tlv8",
        "perms": {
          "pr": true
        }
      }
    },
    "propsExp": {}
  },
  "ProtocolInformation": {
    "title": "Protocol Information",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Version": {
        "title": "Version",
        "type": "string",
        "perms": {
          "pr": true
        }
      }
    },
    "propsExp": {}
  },
  "ServiceLabel": {
    "title": "Service Label",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "ServiceLabelNamespace": {
        "title": "Service Label Namespace",
        "type": "uint8",
        "perms": {
          "pr": true
        }
      }
    },
    "propsExp": {}
  },
  "Siri": {
    "title": "Siri",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "SiriInputType": {
        "title": "Siri Input Type",
        "type": "uint8",
        "perms": {
          "pr": true
        }
      }
    },
    "propsExp": {
      "MultifunctionButton": {
        "title": "Multifunction Button",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "SiriEnable": {
        "title": "Siri Enable",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "SiriEngineVersion": {
        "title": "Siri Engine Version",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "SiriLightOnUse": {
        "title": "Siri Light On Use",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "SiriListening": {
        "title": "Siri Listening",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "SiriTouchToUse": {
        "title": "Siri Touch To Use",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    }
  },
  "SmokeSensor": {
    "title": "Smoke Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "SmokeDetected": {
        "title": "Smoke Detected",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "Speaker": {
    "title": "Speaker",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Mute": {
        "title": "Mute",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "Active": {
        "title": "Active",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "Volume": {
        "title": "Volume",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    }
  },
  "StatelessProgrammableSwitch": {
    "title": "Stateless Programmable Switch",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "ProgrammableSwitchEvent": {
        "title": "Programmable Switch Event",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "ServiceLabelIndex": {
        "title": "Service Label Index",
        "type": "uint8",
        "perms": {
          "pr": true
        }
      }
    }
  },
  "Switch": {
    "title": "Switch",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "On": {
        "title": "On",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      }
    }
  },
  "TelevisionSpeaker": {
    "title": "Television Speaker",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "Mute": {
        "title": "Mute",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      }
    },
    "propsExp": {
      "Active": {
        "title": "Active",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "Volume": {
        "title": "Volume",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true,
          "pw": true
        }
      },
      "VolumeControlType": {
        "title": "Volume Control Type",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "VolumeSelector": {
        "title": "Volume Selector",
        "type": "uint8",
        "perms": {
          "pw": true
        }
      }
    }
  },
  "TemperatureSensor": {
    "title": "Temperature Sensor",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "CurrentTemperature": {
        "title": "Current Temperature",
        "type": "float",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "StatusActive": {
        "title": "Status Active",
        "type": "bool",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusFault": {
        "title": "Status Fault",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusLowBattery": {
        "title": "Status Low Battery",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      },
      "StatusTampered": {
        "title": "Status Tampered",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    }
  },
  "WiFiSatellite": {
    "title": "Wi Fi Satellite",
    "propsMain": {
      "Name": {
        "title": "Name",
        "type": "string",
        "perms": {
          "pr": true
        }
      },
      "WiFiSatelliteStatus": {
        "title": "Wi-Fi Satellite Status",
        "type": "uint8",
        "perms": {
          "ev": true,
          "pr": true
        }
      }
    },
    "propsExp": {}
  }
}